<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ridiculous. Quotes. - "Let's Make Laughing Great Again!"</title>
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/add_recipe.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/all">View All</a></li>
              <li role="presentation" class="active"><a href="/recent">Recent</a></li>
              <li role="presentation" class="active"><a href="/random">Random</a></li>
              <li role="presentation" class="active"><a href="/search">Search</a></li>
              <li role="presentation" class="active"><a onclick="goBack()" href="#">Back</a>
          </ul>
        </nav>
        <h3 class="text-muted">Ridiculous. Quotes.</h3>
      </div>
 
      <div class="jumbotron">
    {% if auth == True %}
      {% for quote in data %}
        <h1>Edit Quote</h1>
        <form class="form-signin" action="/edit/{{ quote[0] }}" method="POST">
        <label for="quoteText" class="sr-only">Quote</label>
        <input type="text" name="quoteText" id="quoteText" class="form-control" value="{{ quote[1] }}" required autofocus>
        
        <label for="quoteAuthor" class="sr-only">Author</label>
        <input type="text" name="quoteAuthor" id="quoteAuthor" class="form-control" value="{{ quote[2] }}">
         
        <label for="quotePrivate" class="sr-only">Private</label>
        <input type="text" name="quotePrivate" id="quotePrivate" class="form-control" value="{{ quote[3] }}" required autofocus>

        <!-- <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button> -->
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Update Quote"></form>
        <form class="form-signin" action="/delete/{{ quote[0] }}" method="POST">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Delete Quote">
        </form>
      
      {% endfor %}
    {% endif %}
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Nobody and Everybody 2016</p>
      </footer>
 
    </div>
  </body>
</html>
