<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ridiculous. Quotes. - "Let's Make Laughing Great Again!"</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/add_recipe.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/search.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/all">View All</a></li>
              <li role="presentation" class="active"><a href="/recent">Recent</a></li>
              <li role="presentation" class="active"><a href="/random">Random</a></li>
              <li role="presentation" class="active"><a href="/search">Search</a></li>
              <li role="presentation" class="active"><a onclick="goBack()" href="#">Back</a>
          </ul>
        </nav>
        <h3 class="text-muted">Ridiculous. Quotes.</h3>
      </div>
 
      <div class="jumbotron"> 
        <h1>Search</h1>
        <form class="form-signin" method="POST">
        <label for="searchText" class="sr-only">Search</label>
        <input type="text" name="searchText" id="searchText" class="form-control" placeholder="Search" required autofocus>

        <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
        </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Nobody and Everybody 2016</p>
      </footer>
 
    </div>
  </body>
</html>