<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ridiculous. Quotes. - "Let's Make Laughing Great Again!"</title>
 

    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/viewall.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>


  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/all">View All</a></li>
              <li role="presentation" class="active"><a href="/recent">Recent</a></li>
              <li role="presentation" class="active"><a href="/random">Random</a></li>
              <!-- <li role="presentation"><a href="#">Sign In</a></li> -->
              <!-- <li role="presentation"><a href="submitQuote">Submit New Quote</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">Ridiculous. Quotes.</h3>
      </div>
      <div>{{ pagination.links }}</div>
      <center><a href="all?page={{ page+1 }}">Next</a>{% if page-1 >=1 %} / <a href="all?page={{ page-1 }}">Back</a>{% endif %}</center>
      <br>
      <div class="jumbotron">
		{% for quote in data %}
        <h2><a href="/quote/{{ quote[0] }}">{{ quote[1] }}</h2></a> - {{ quote[2] }}<br>
		{% endfor %}
	  </div>
    <center><a href="all?page={{ page+1 }}">Next</a>{% if page-1 >=1 %} / <a href="all?page={{ page-1 }}">Back</a>{% endif %}</center>
    <div class="pagination">{{ pagination.links }}</div>   
 
      <footer class="footer">
        <p>&copy; Nobody and Everybody 2016</p>
      </footer>
 
    </div>
  </body>
</html>
